* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html, body {
	width: 100%;
	background-color: #fff;
	font-family: 'Montserrat';
  font-size: 1.2em;
}
.cat-links {
  padding: 5px 10px;
  margin-bottom: -50px;
  vertical-align: middle;
  background-color: rgba(48, 148, 181, 1.0);
  color: #fff;
}
.site-content {
  margin-top: -50px;
}
.cat-links a {
  font-size: 0.8em;
  font-weight: 300;
  text-decoration: none;
  margin-top: 5px;
  color: #fff;
  line-height: 38px;
}
.cat-links a:hover {
  color: #fff;
}
.entry-title {
  font-size: 2em;
  font-weight: 700;
  color: #242424;
  margin-top: 30px;
  margin-left: 20px;
  padding-right: 20px;
}
.entry-posted {
  font-size: 0.7em;
  font-weight: 300;
  color: #696969;
  margin-bottom: 30px;
  margin-left: 20px;
  padding-right: 20px;
}
.entry-posted a {
  text-decoration: none;
  font-weight: 500;
  color: #363636;
}
.entry-content {
  font-family: 'Montserrat';
  font-size: 0.8em;
  font-weight: 300;
  color: #222;
  margin-left: 20px;
  padding-right: 20px;
}
.entry-content img {
  width: 90%;
  padding: 5px 0px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  display: block;
}
blockquote {
  font-style: italic;
  margin-left: 30px;
  border-left: 4px solid #444;
  padding-left: 10px;
  color: #666;
  font-size: 0.9em;
}
p {
  margin-bottom: 20px;
}
b {
  font-weight: 500;
}
.jetpack-video-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  padding: 10px 0px;
}
.embed-vimeo {
  width: 100%;
}
a {
  color: #666;
}
a:hover {
  color: rgba(48, 148, 181, 1.0);
}
img#wpstats {
  display: none;
}
.emoji {
 width: 0px;
}
ol li{
  list-style-type: none;
}
.comments-area-wrapper {
  border-top: solid 1px #ddd;
  background-color: #fcfcfc;
  padding: 20px 0px;
  width: 100%;
}
.comments-title {
  font-size: 0.8em;
  color: #676767;
  margin-bottom: 20px;
  margin-left: 30px;
}
.comment-body {
  background-color: #fff;
  border: solid 1px #ddd;
  padding-left: 20px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: -1px;
}
.comment-body a:not(.url) {
  color: #333;
  font-weight: 400;
  font-style: normal;
}
.comment-body a:hover {
  color: #3094b5;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 10px;
}
.comment-author {
  display: flex;
  align-items: center;
}
.comment-meta a {
  font-size: 0.5em;
  color: #444;
  font-weight: 300;
  text-decoration: none;
  display: inline;
  margin-left: 60px;
}
.commentmetadata {
  margin-top:-37px;
  margin-bottom: 20px;
}
.comment-body p {
  font-size: 0.7em;
  font-weight: 200;
  color: #232323;
  padding-right: 20px;
  word-wrap: break-word;
}
.url {
  text-decoration: none;
  color: #333;
}
cite.fn {
  font-size: 0.7em;
  color: #333;
  font-style:normal;
  text-decoration: none;
  font-weight: 500;
}
